@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: sunset --default, dark --prefersdark;
    logs: false;
}

.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}