---
const { title, timeframe, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-bold text-xl">{title}</h2>
    <p class="font-normal text-la mb-1">{subtitle}</p>
    <p class="font-semibold text-sm mb-1">{timeframe}</p>
    <div class="my-2 text-justify">
      <slot />
      <br>
    </div>
  </div>
</div>
