---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A highly skilled and experienced software engineer with a strong focus
    on system design and architecture. Equipped with a deep understanding of backend
    technologies, data structures, and algorithms, I am passionate about building
    scalable, robust, and efficient systems that power mission-critical applications.
    With a proven track record of designing and implementing complex solutions,
    I excel in analyzing requirements, architecting solutions, and optimizing
    performance to meet the demands of modern software development.

    Outside of professional software development, I'm currently researching legged
    locomotion using model-free reinforcement learning.
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-5">
    <TimeLineElement
      title="Bachelor of Science - BSc, Computer Science and Engineering"
      subtitle="North South University, Dhaka, Bangladesh"
      timeframe="Jan 2017 - Dec 2021"
    />

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-5">
    <TimeLineElement
      title="Systems Engineer | Full Stack Developer"
      subtitle="mi8 Studio, Dhaka, Bangladesh"
      timeframe="Apr 2023 - Current"
    >

    <p class="mb-2">Primarily in charge of leading the software development team and designing customized solutions. This includes: </p>

    <ul class="list-disc">
      <li>Conducting software requirement meetings with clients in order to define actionable project specifications</li>
      <li>Crafting robust system architectures by conducting thorough analysis of client needs, industry standards, and scalability requirements</li>
      <li>Overseeing the development process to ensure adherence to timelines and quality standards</li>
      <li>Providing technical guidance and mentoring to team members</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Software Engineer"
      subtitle="Qavlo, Dhaka, Bangladesh"
      timeframe="Nov 2021 - Apr 2023"
    >

    <p class="mb-2">Lead developer responsible for creating custom automation tools, evolving into a
      comprehensive development framework, and integrating DevOps practices for
      seamless deployment pipelines. </p>
    
    <ul class="list-disc">
      <li>Designed and implemented custom automation tools to streamline development workflows, encompassing frontend, backend, and design processes </li>
      <li>Integrated DevOps practices to enable seamless deployment pipelines from development to production</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Automation Engineer | Backend Developer"
      subtitle="Inkam, Dhaka, Bangladesh"
      timeframe="Jan 2022 - Oct 2022"
    >
    <p class="mb-2">Drove workflow enhancements within the company by automating repetitive tasks, reducing time and effort expended on routine operations. </p>

    <ul class="list-disc">
      <li>Created custom tools tailored to the specific needs of the operations team, streamlining their workflows and enhancing productivity </li>
      <li>Introduced DevOps practices and methodologies to improve the software development workflow, fostering a culture of collaboration, automation, and continuous improvement </li>
      <li>Implemented advanced version control, automated testing, and deployment pipelines to accelerate the delivery of software releases </li>
      <li>Provided assistance and support to the backend development team to ensure the scalability and reliability of the system </li>
    </ul>

    </TimeLineElement>

    <TimeLineElement
      title="Project Intern"
      subtitle="e-Yantra - IIT Bombay, Mumbai, India"
      timeframe="May 2021 - Jul 2021"
    >
    <p class="mb-2">Worked on "Simulation of a Quadruped in ROS Gazebo" as part of e-YSIP-2021. </p>

    <!-- <ul class="list-disc">
      <li>Created custom tools tailored to the specific needs of the operations team, streamlining their workflows and enhancing productivity </li>
      <li>Introduced DevOps practices and methodologies to improve the software development workflow, fostering a culture of collaboration, automation, and continuous improvement </li>
      <li>Implemented advanced version control, automated testing, and deployment pipelines to accelerate the delivery of software releases </li>
      <li>Provided assistance and support to the backend development team to ensure the scalability and reliability of the system </li>
    </ul> -->

    </TimeLineElement>

    <TimeLineElement
      title="Robotics and Game Development Specialist"
      subtitle="The Tech Academy, Mumbai, India"
      timeframe="Jul 2018 - May 2019"
    >

    <p class="mb-2">Helped develop robotics projects to teach basic electronics and hardware programming.
      Also created a handful of games (using the Godot game engine) that focus on specific game mechanics, to teach programming and game development to high schoolers.
      Apart from making the projects, we worked on developing a curriculum for the students to gain a deep understanding of how they work.
    </p>

    <!-- <ul class="list-disc">
      <li>Created custom tools tailored to the specific needs of the operations team, streamlining their workflows and enhancing productivity </li>
      <li>Introduced DevOps practices and methodologies to improve the software development workflow, fostering a culture of collaboration, automation, and continuous improvement </li>
      <li>Implemented advanced version control, automated testing, and deployment pipelines to accelerate the delivery of software releases </li>
      <li>Provided assistance and support to the backend development team to ensure the scalability and reliability of the system </li>
    </ul> -->

    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://coursera.org/share/4f2182e71dc0a43dc7d5b90d50db4427" target="_blank"> Fundamentals of Reinforcement Learning </a>
    </li>
    <li>
      <a href="https://coursera.org/share/287750c8cb5462a02f263899cf5d7210" target="_blank"> Sample-based Learning Methods </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Software Design</li>
    <li>Database Design</li>
    <li>DevOps</li>
    <li>Javascript</li>
    <li>NodeJS</li>
    <li>Typescript</li>
    <li>Python</li>
    <li>C/C++</li>
    <li>Bash</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>Git</li>
    <li>Electronics</li>
    <li>Simulation</li>
    
  </ul>
</BaseLayout>
